label {
    display: inline-block;
    width: 100px;
    margin: 15px;

}
input {
    margin: 15px;
    border-radius: 10px;
    background-color: rgb(255, 144, 104);
    border-style: hidden;
    color: white;
    padding-left: 5px;

}
.row{
    display: flex;
    flex-direction: row;
}



.button1 {
    margin: 10px;
    color: white;
    background-color: rgb(143, 65, 37);
    border: none;
    padding: 8px;
    border-radius: 10px;
}
.button1:hover{
    background-color: rgb(250, 121, 74);
    
}
.container1 {
    display:flex;
    align-content: center;
    margin-left: 25px;
    margin-right: 25px;
    justify-content: center;
    background-image: linear-gradient(75deg, rgb(255, 255, 255) , rgb(255, 190, 166));
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 5%;
    padding: 10px;

}

::placeholder{
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}


/**************Display the details*************/

.detail {
    padding: 20px;
    margin: 20px;
    display: flex;
    justify-content: center;

}

.table{
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.form_detail{
    margin: 50px;
    padding: 40px;
    font-size: 20px;
    background-color: rgb(255, 144, 104);
    color: white;
    border-radius: 40px;
}

.pad{
    font-weight: bold;
}
